---

- name: create catalina localhost diretory
  file:
    path: "{{ item }}"
    state: directory
    owner: "{{ tomcat_user }}"
    group: "{{ tomcat_group }}"
    recurse: yes
    mode: 0755
  with_items: "{{ tomcat_directories }}"

- name: add tomcat server.xml
  template:
    src: "server.xml.j2"
    dest: "{{ tomcat_directory }}/{{ tomcat_name }}/conf/server.xml"
    owner: "{{ tomcat_user }}"
    group: "{{ tomcat_group  }}"
    mode: 0755
  notify:
    - restart tomcat

- name: add tomcat setenv.sh
  template:
    src: "setenv.sh.j2"
    dest: "{{ tomcat_directory }}/{{ tomcat_name }}/bin/setenv.sh"
    owner: "{{ tomcat_user }}"
    group: "{{ tomcat_group  }}"
    mode: 0777
  notify:
    - restart tomcat

- name: Unarchive tomcat apr
  unarchive:
    src: "{{ tomcat_directory }}/{{ tomcat_name }}/bin/tomcat-native.tar.gz"
    dest: "{{ tomcat_directory }}/{{ tomcat_name }}/bin/"
    mode: 0755
    remote_src: yes

- name: Execute the script
  command: "{{ item }}"
  args:
    chdir: "{{ tomcat_directory }}/{{ tomcat_name }}/bin/tomcat-native-1.2.21-src/native"
  with_items:
    - ./configure --with-java-home="{{ java_home }}"
    - make
    - make install  
  tags: 
    - apr  

- name: configure systemd service
  template:
    src: systemd.j2
    dest: "/etc/systemd/system/{{ tomcat_name }}.service"
    owner: "{{ tomcat_user }}"
    group: "{{ tomcat_group  }}"
    mode: 0777
  notify:
    - systemctl daemon-reload
    - restart tomcat

- name: start and enable tomcat instance
  service:
    name: "{{ tomcat_name }}"
    state: started
    enabled: yes
