---

- name: ensure instance directory exists
  file:
    path: "{{ tomcat_directory }}/{{ tomcat_name }}"
    state: directory
    owner: "{{ tomcat_user }}"
    group: "{{ tomcat_group }}"
  tags:
    - tomcat

- name: download tomcat source
  get_url:
    url: "{{ tomcat_unarchive_url }}"
    dest: "/tmp/tomcat.tar.gz"
    mode: 0440
  tags:
    - tomcat

- name: Unarchive tomcat package
  unarchive:
    src: "/tmp/tomcat.tar.gz"
    dest: "{{ tomcat_directory }}/{{ tomcat_name }}"
    owner: "{{ tomcat_user }}"
    group: "{{ tomcat_group }}"
    mode: 0755
    remote_src: yes
    extra_opts: "--strip-components=1"
    creates: "{{ tomcat_directory }}/{{ tomcat_name }}/bin"
  tags:
    - tomcat

- name: "Install apr"
  yum:
    name:
      - apr-devel
      - openssl-devel
      - gcc
    state: present
  tags:
    - tomcat
