---

- name: ensure instance directory exists
  file:
    path: "{{ tomcat_directory }}/{{ tomcat_name }}"
    state: directory
    owner: "{{ tomcat_user }}"
    group: "{{ tomcat_group }}"

- name: download tomcat source
  get_url:
    url: "{{ tomcat_unarchive_url }}"
    dest: "/tmp/tomcat.tar.gz"
    mode: 0440

- name: Unarchive tomcat package
  unarchive:
    src: "/tmp/tomcat.tar.gz"
    dest: "{{ tomcat_directory }}/{{ tomcat_name }}"
    owner: "{{ tomcat_user }}"
    group: "{{ tomcat_group }}"
    mode: 0755
    remote_src: yes
    extra_opts: "--strip-components=1"
    creates: "{{ tomcat_directory }}/{{ tomcat_name }}/bin"

- name: configure systemd service
  template:
    src: systemd.j2
    dest: "/etc/systemd/system/{{ tomcat_name }}.service"
    owner: "{{ tomcat_user }}"
    group: "{{ tomcat_group  }}"
    mode: 0777
  notify:
    - systemctl daemon-reload
    - restart tomcat

- name: start and enable tomcat instance
  service:
    name: "{{ tomcat_name }}"
    state: started
    enabled: yes
