{{ ansible_managed | comment }}

UMASK=0022

CATALINA_OPTS="$CATALINA_OPTS -Xms{{ tomcat_xms }} -Xmx{{ tomcat_xmx }}"

{% if tomcat_jmx_enabled is defined %}
CATALINA_OPTS="$CATALINA_OPTS -Dcom.sun.management.jmxremote 
-Dcom.sun.management.jmxremote.port=9000 
-Dcom.sun.management.jmxremote.local.only=false 
-Dcom.sun.management.jmxremote.authenticate=false 
-Dcom.sun.management.jmxremote.ssl=false 
-Djava.rmi.server.hostname=18.231.18.158 
-Djava.net.preferIPv4Stack=true 
-Dsun.net.http.allowRestrictedHeaders=true"
{% endif %}

{% if tomcat_g1gc_enabled is defined %}
CATALINA_OPTS="$CATALINA_OPTS -XX:+UseG1GC  
-XX:+UnlockExperimentalVMOptions 
-XX:G1NewSizePercent=25 
-XX:+UseStringDeduplication 
-XX:MaxGCPauseMillis=50"
{% endif %}

{% if tomcat_heapdump_enabled is defined%}
CATALINA_OPTS="$CATALINA_OPTS -XX:+HeapDumpOnOutOfMemoryError 
-XX:HeapDumpPath={{ tomcat_heapdump_directory }}"
{% endif %}

{% if tomcat_gc_log_enabled is defined %}
CATALINA_OPTS="$CATALINA_OPTS -Xloggc:{{ tomcat_gc_log_file }}
-XX:+PrintGCDetails  
-XX:+PrintGCDateStamps 
-XX:+PrintGCCause 
-XX:+PrintTenuringDistribution 
-XX:+UseGCLogFileRotation 
-XX:NumberOfGCLogFiles=10 
-XX:GCLogFileSize=5M"
{% endif %}

CATALINA_OPTS="$CATALINA_OPTS -Djava.library.path=/usr/local/apr/lib"